$color--black: #000000;
$color--dark: #010101;
$color--lightblack: #232323;
$color--white: #ffffff;
$color--theme:#475D4B;
$color--gray:#414545;
$color--light-green: #e5f0da;
$color--ultra-light-green: #f1f7ec;
$color--dark--gray: #b8b8b89e;
$color--lightest-gray: #ebebeb;
$color--border: #c0c0c0;
$color--error-msg:#D8000C;
$color--success-msg:#4F8A10;
$light-grey:#b3bab4;
$dark-grey:#aab4ad;
$placeholder-color:#656565;
$social--icon-color:#F0F6EB;
$color--dark-grey:#666666;
$fb-icon-color:#1877f2;
$whishlist-icon: #d7d7d7;
$slider-border-color:#0090E3;
$site--green-color: #475d4b;
$box-shadow-color: #00000066;
$menu-shadow: #787878cc;
$accordian-border: #d9d9d9;
$light-grey-border:#7d7d7d;
$dark-grey-border:#121212;
$border-shadow-color: #00000026;
$light-border: #475d4b1f;
$color-yellow: #f3c746;
$color-green-checkout: #52b359;
$color-light-black: #323232;
$color-brown: #545454;
$loader-border-color: #f3f3f3;
/*annoucement bar*/ 
$announcement--bg:#E5F0DA;
$color--shadow: #48484861;

/* header*/ 
$header-main-border:#0C322F;
$header-main-light-border:#d3d4d5;
$color--lightest-green:#eff9e4;
$menu-item-border:#e7e7e7;
$menu-background: #5d4f98;
$menu-border: #ddd;
$bottom-border: #bdb8b8;
$menu-icon: #333;
$mobile-menu-shadow: #2e2929cc;
$mega-menu-divider: #e5efd9;
$menu-search-color: #919191;
/* footer*/ 
$footer-link-color: #52B359;

/* footer*/ 
$cart-quantity-input: #E5F0DA;
/*================ Fonts ================*/
$Segoe-ui: var(--segoe-ui);
$Segoe-ui-sl: var(--segoe-ui-sl);